# Resource limits
LANGFLOW_CPUS_LIMIT=1.0
LANGFLOW_MEM_LIMIT=2g
LANGFLOW_CPUS_RESERVATION=0.25
LANGFLOW_MEM_RESERVATION=256m

CHROMA_CPUS_LIMIT=1.0
CHROMA_MEM_LIMIT=2g
CHROMA_CPUS_RESERVATION=0.25
CHROMA_MEM_RESERVATION=256m

# Service identity
LANGFLOW_IMAGE=docker.io/langflowai/langflow:latest
CHROMA_IMAGE=docker.io/chromadb/chroma:latest

# Langflow Config
LANGFLOW_CONFIG_DIR=/app/langflow
LANGFLOW_AUTO_LOGIN=true
DO_NOT_TRACK=true

# Chroma Config
IS_PERSISTENT=true
ANONYMIZED_TELEMETRY=false
